html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial;
  font-size: 16px;
  color: black;
  background-color: #FF6A00;
}

.cudzy {
  font-size: 32px;
}

.pochylony {
  font-style: italic;
}

.naglowek {
  display: flex;
  width: 1000px;
  height: 200px;
  margin: 0px auto 0px auto;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.lupa {
  align-self: flex-end;
  position: absolute;
  right: 0px;
}

.logo {
  margin: auto 0px auto 0px;
}

.search {
  margin: auto 0px auto 0px;
  border: 1px;
  width: 130px;
  border-style: dashed;
  border-color: white;
  display: flex;
  position: relative;
}

.main {
  display: flex;
  width: 1000px;
  height: 400px;
  margin: 0px auto 0px auto;
  justify-content: space-between;
  align-items: center;
}

.omnie {
  width: 50%;
  height: 380px;
}

nav {
  display: flex;
  align-items: flex-end;
  width: 1000px;
  height: 37px;
  margin: 0px auto 0px auto;
}

li {
  display: inline;
}

.portfolio {
  background-color: #B6B6B6;
  height: 440px;
}

.oprojekcie {
  background-color: white;
  display: flex;
  align-content: flex-start;
  align-items: center;
  justify-content: center;
  border-top: 1px;
  border-style: dashed;
  border-color: #FF6A00;
  height: 440px;
}

.projekt {
  color: white;
  background-color: #2793EE;
  width: 50%;
  height: 380px;
  position: relative;
}

.title1 {
  color: white;
  height: 20px;
  font-size: 35px;
  padding: 40px 20px 40px 20px;
  font-weight: bold;
}

.title {
  color: #2793EE;
  height: 20px;
  font-size: 24px;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding-top: 20px;
  font-weight: bold;
}

.subtitle {
  color: #2793EE;
  text-align: center;
  padding-top: 70px;
}

.box1 {
  background: white url("../img/tmp-1.png")no-repeat center top;
  position: relative;
  width: 220px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
}

.box2 {
  background: white url("../img/tmp-2.png") no-repeat center top;
  width: 220px;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.box3 {
  background: white url("../img/tmp-3.png") no-repeat center top;
  width: 220px;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.box4 {
  background: white url("../img/tmp-4.png") no-repeat center top;
  width: 220px;
  position: relative;
  height: 300px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
}

.details {
  justify-content: center;
  text-align: center;
  height: 300px;
  width: 200px;
  margin: 0px auto 0px auto;
  padding-top: 10px;
  font-size: 15px;
}

.link1 {
  color: #FF6A00;
  background-color: white;
  border-top: 10px;
  border-left: 10px;
  border-right: 10px;
  border-style: solid;
  border-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.link2 {
  color: white;
  background-color: #2793EE;
  text-align: center;
  border: 5px solid #2793EE;
  width: 130px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 285px;
  font-size: 12px;
}

.link3 {
  color: white;
  background-color: #2793EE;
  text-align: center;
  border: 5px solid #2793EE;
  position: absolute;
  left: 410px;
  bottom: 4px
}

.kontakt {
  background-color: white;
  height: 440px;
}

.form-in {
  border: 1px solid #FF6A00;
  line-height: 1.6em;
  margin: 5px;
  width: 200px;
  display: flex;
}

.form-title {
  float: left;
  width: 200px;
  padding-top: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
}

.message {
  position: relative;
}

.akapit {
  padding: 20px 20px 40px 20px;
  line-height: 1.4em;
  font-size: 15px;
}

footer {
  color: white;
  background-color: #FF6A00;
  height: 30px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px auto 0px auto;
}
